{:hara/type :project
 :hara/version "1.0.0"
 :project/id greenways/hodos
 :project/version "0.1.0"
 :project/source-paths ["src"]
 :project/test-paths []
 :project/extension-paths []
 :project/capabilities #{}
 :project/dependencies
 {"hara:greenways/hodos-core" {:version "^0.1.0"}
  "hara:greenways/hodos-addon-drafts" {:version "^0.1.0"}
  "hara:greenways/hodos-addon-publication" {:version "^0.1.0"}
  "hara:greenways/hodos-addon-authoring" {:version "^0.1.0"}
  "hara:greenways/hodos-runtime-hara" {:version "^0.1.0"}
  "hara:greenways/hodos-viewer" {:version "^0.1.0"}}
 :project/recipe "hara.recipe.edn"}
